<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Automation Playground" verbose="1" parallel="tests" thread-count="2">
    <test name="Dummy Test">
        <classes>
            <class name="tests.DummyClass"/>
            <class name="tests.DummyClass2"/>
        </classes>
    </test>                 

</suite>